attr==0.3.2
ConfigParser==7.2.0
cryptography==46.0.6
docutils==0.22.4
duckduckgo_search==5.3.1b1
fastapi==0.135.2
filelock==3.25.2
groq==1.1.2
HTMLParser==0.0.2
httpx==0.28.1
ipython==8.12.3
ipywidgets==8.1.8
jnius==1.1.0
keyring==25.7.0
pandas==3.0.1
protobuf==7.34.1
pydantic==2.12.5
pyOpenSSL==26.0.0
python-dotenv==1.2.2
redis==7.4.0
slowapi==0.1.9
Sphinx==9.1.0
thread==2.0.6
typing_extensions==4.15.0
urllib3_secure_extra==0.1.0
uvicorn==0.42.0
xmlrpclib==1.0.1
